html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#menu {
  z-index: 10;
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5%;
  padding: 1%;
  display: flex;
  row-gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none;
}
#datePickerInput {
  width: fit-content;
}
#onTimeFlights {
  background-color: green;
    border-color: green;
}

#lessThan10Flights {
  background-color: yellow;
    border-color: yellow;
}

#lessThan30Flights {
  background-color: orange;
    border-color: orange;
}

#lessThan60Flights {
  background-color: red;
    border-color: red;
}

#moreThan60Flights {
  background-color: black;
    border-color: black;
}

